galaxy/RGalaxy.lab/vignettes/RGalaxy.lab-vignette.html
galaxy/RGalaxy.lab/vignettes/RGalaxy.lab-vignette.R
galaxy/RGalaxy.lab/vignettes/RGalaxy.lab-vignette.md
galaxy/RGalaxy.lab/.DS_Store
.Rproj.user
annotationhub/AnnotationHubServer.lab/.Rproj.user
*.Rproj
